/* Custom stylesheet for The Gamers' Blog */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
    background: #111111;
    color: #fdf6e3;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding-top: 70px;
}

a {
  text-decoration:none;
  color: #fdf6e3;
}

a:hover {
  font-weight: bold;
}

/* Makes flex container take up all available space,
pushing other elements like footer to the bottom */
.container {
    flex: 1;
}

p {
    font-size: 20px;
}

/* Navbar */

.navbar.fixed-top {
  background-color: #111111;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-brand img {
  height: 30px;
  width: auto;
}

.navbar-nav .nav-item .nav-link:hover {
    font-weight: bold;
}

/* Header Section */
.header {
  position: relative;
  background-image: url('images/controller.jpg'); /*  https://www.pexels.com/photo/black-gaming-console-194511/ */
  background-size: cover;
  background-position: center;
  height: 300px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  overflow: hidden;
}

.header::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* darkness level */
  z-index: 0;
}

.header .container {
  position: relative;
  z-index: 1;
}

/* Footer Section */

#site-footer a {
  color: #fdf6e3; /* matches your body text color */
  text-decoration: none;
}

#site-footer a:hover {
  color: #ffffff; /* optional: brighter on hover */
  text-decoration: underline;
}

main {
  flex: 1;
}

/* Forms */

/* Style the left form table label column */
form table tbody tr th {
  max-width: 200px;
  text-align: right;
  padding: 0.5em 1em 0.5em 0;
  font-weight: 100;
}

/* Add some vertical spacing between rows */
form table tbody td {
  padding: 0.5em 0;
}

/* Style inputs */
input {
  border-radius: 0px;
  font-size: 1em;
  padding: 0.3em 0.5em;
}

/* Style button */
button {
  font-size: 1em;
  color: #000;
  cursor: pointer;
  padding: 0.5em 3em;
  border: 1px solid #999;
  background: #eee;
}

/* Style select */
select {
  font-size: 1em;
  padding: 1em;
  line-height: 1.5em;
}

/* Style error messages */
form .errorlist {
  font-size: 0.9em;
  font-weight: bold;
  color: red;
  padding: 0 0 0 1.5em;
  margin: 0;
}