{% extends "blog/base.html" %}

{% block page_title %}About{% endblock %}

{% block main %}
<h1 class="py-1">About</h1>

<div class="row">
    <div class="col-md-9">
        <p>{% lorem %}</p>
        <p>{% lorem %}</p>
        <p>{% lorem %}</p>
    </div>
    <!-- Sidebar listing topics ordered by most popular -->
    <div class="col-md-3">
        <h2>Popular topics</h2>
        <ul>
            {# Renders the 10 most popular topics #}
            {% for topic in topics_list %}
            <li>
                <a href="{{ topic.get_absolute_url }}">{{ topic.name }}</a> ({{ topic.post_count }})
            </li>
            {% endfor %}
            <br>
            <a href="{% url 'topic-list' %}">View all topics</a>
        </ul>
    </div>
</div>
{% endblock %}